// var(--tg-theme-bg-color)
// var(--tg-theme-text-color)
// var(--tg-theme-hint-color)
// var(--tg-theme-link-color)
// var(--tg-theme-button-color)
// var(--tg-theme-button-text-color)

$mainBlue: #40a7e3
$secondaryBlue: #ecf6fc

html, body
    min-height: 100vh

body
    font-family: sans-serif
    background-color: var(--tg-theme-bg-color, #fff)
    color: var(--tg-theme-text-color, #222)
    font-size: 14px
    color-scheme: var(--tg-color-scheme)

.balance
    height: 300px
    width: 100%
    background-color: var(--tg-theme-bg-color, #fff)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &__container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex: 1 1 auto

    ul
        list-style-type: none
        display: flex
        align-items: center
        justify-content: space-around
        margin: 0 !important
        padding: 0 0 20px 0
        width: 95%

        li
            width: 23%
            background-color: var(--tg-theme-button-text-color, $mainBlue)
            color: var(--tg-theme-link-color, #fff)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 5px 10px
            border-radius: 5px

            i
                font-size: 24px
                margin: 0 !important
                padding: 0 !important

            span
                font-size: 13px
                cursor: default

            &:not(:first-child)
                opacity: 0.65
                color: var(--tg-theme-link-color, #2678b6)
                background-color: var(--tg-theme-bg-color, #ffffff)

    h1
        font-size: 15px

    h2
        font-size: 40px
        font-weight: bold
        span
            font-size: 30px
            font-weight: bold
        &::after
            content: "₽"
            font-family: sans-serif
            color: #aaaaaa
            position: relative
            left: 5px
            font-size: 30px
